<meta charset="utf-8">
<title>PlayGround Raters</title>

<div class="temp_wdt" style="float: none;margin: auto;width: 700px;">
      <p style="float: left;width: 100%;text-align: center;border-bottom: 1px solid #FF6433;margin-bottom: 30px;">
        <img src="http://18.223.231.202:5001/api/image?filename=6dB4D9-ic_logo.png" style="width: 160px;margin-bottom: 12px;">
      </p>
      <p style="font-size: 15px;font-weight: 600;">Hi {{first_name}} {{last_name}},</p>
      <p style="font-size: 15px;">We've received a request to reset your password, If you didn't make the request, just ignore this email. Otherwise, you can reset your password using this link:</p>

      <p style="text-align: center;margin-top: 20px;float: left;width: 100%;">
      <a href="{{url}}/reset-password?token={{token}}" style="background:#FF6433;color: #fff;text-decoration: none;padding: 14px 20px;font-size: 16px;border-radius: 0px;float: left;width: 100%;font-weight: 600;">Choose a New Password</a></p>
      <p style="font-size: 15px;float: left;line-height: 24px;margin-top: 12px;;">Thanks,<br>The PGRaters Team</p>

    </div>